<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDyT9yZg-_8BuI9dd2ercRrbBHxoIDnIXk</string>
	<key>GCM_SENDER_ID</key>
	<string>534697529985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.utsdavid</string>
	<key>PROJECT_ID</key>
	<string>utsdavid-7e5b6</string>
	<key>STORAGE_BUCKET</key>
	<string>utsdavid-7e5b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534697529985:ios:7532bc243c92727aa3b380</string>
</dict>
</plist>